<div class="container" fxLayoutAlign="center center">
  <div class="login" fxLayout="column">
    <div fxLayoutAlign="center">
      <img
        width="120"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
    </div>

    <form autocomplete="off" [formGroup]="formLogin" (ngSubmit)="submit()" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input id="email" [formControlName]="'email'" matInput #emailField="matInput" cdkFocusInitial />

        <mat-hint *ngIf="isControlHasError('email', 'required')">This field is required</mat-hint>
        <mat-hint *ngIf="isControlHasError('email', 'email')">This field shoud be a valid email address</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input id="password" [formControlName]="'password'" type="password" matInput />

        <mat-hint *ngIf="isControlHasError('password', 'required')">This field is required</mat-hint>
      </mat-form-field>

      <div fxLayout="column" fxLayoutGap="8px">
        <div fxFlex fxLayoutAlign="center">
          <a [routerLink]="['../', 'register']" mat-button color="accent">Create account</a>
        </div>
        <div fxFlex fxLayoutAlign="center">
          <button type="submit" mat-stroked-button color="primary">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
